<h2>List all spells from API</h2>

<div class="row">
    <% spells.forEach(spell => { %>
        <div class="col-lg-3 mb-4">
            <div class="card">
                <div class="card-body">

                    <h5 class="card-title"><%= spell.name %></h5>

                    <!-- USED FOR HAVING DESCRIPTIONS IN CARDS
                    <h5 class="card-title"><%= // spell.value.data.name %></h5>
                    <% // spell.value.data.desc.forEach(desc => { %>
                        <p class="card-text"><%= // desc %></p>
                    <% // }) %>
                     -->

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSpellModal" id="<%= spell.index %>" name="spellToModal">
                        Add to Spellbook
                    </button>
                </div>
            </div>
        </div>
    <% }) %>
</div>




<!-- Modal -->
<div class="modal fade" id="addSpellModal" tabindex="-1" role="dialog" aria-labelledby="addSpellModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSpellModalLabel">Select Spellbook</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- form to add spell to spellbook -->
            <form action="/user/addSpell" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <input hidden type="text" name="spellName" id="spellName" value="" />
                        <label for="spellbookSelect">Pick Spellbook</label>
                        <select class="form-control" id="spellbookSelect" name="spellbookSelect">
                            <!-- options based on spellbooks user has -->
                            <% books.forEach(book => { %>
                                <option value="<%= book.id %>"><%= book.name %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Spell</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
   document.addEventListener('click', (event) => {
       if(event.target.name === "spellToModal"){
           const modalInput = document.getElementById('spellName')
           modalInput.setAttribute('value', event.target.id)
       }
   })
</script>
<!-- Track User -->
<script>
    // this is used to alter the navbar link after user logs in
    let spellbookLink = document.getElementById('spellbooksLink')
    let spellListLink = document.getElementById('spellListLink')
    let logOutButton = document.getElementById('logout')

    // change spellbook link if userId exists in localstorage
    if(localStorage.getItem('userId')) {
        spellbookLink.href = "/user/" + localStorage.getItem('userId')
        spellListLink.href = "/spells/" + localStorage.getItem('userId')

        logOutButton.removeAttribute("hidden")
        logOutButton.addEventListener('click', () => {
            localStorage.clear()
            location.reload()
        })
    }
</script>