<h2>Spellbooks</h2>

<!-- Button trigger new spellbook form modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBookModal">
    + New Spellbook
</button>

<hr />

<!-- Display all spellbooks owned by user -->
<div class="row">
    <% books.forEach(book => { %>
        <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= book.name %></h5>
                <p class="card-text" style="height: 75px;"><%= book.description %></p>
                <!-- View | Edit | Delete Spellbook -->
                <form method="POST" action="./delBook/<%= book.id %>?_method=DELETE">
                    <!-- Hidden User Value -->
                    <input hidden type="text" name="userId" value="<%= userId %>" required />
                    
                    <a href="/user/spellbook/<%= book.id %>" class="btn btn-primary">View</a>
                    <button type="button" class="btn btn-primary edit-book" data-toggle="modal" data-target="#editBookModal" id="<%= book.id %>" onclick="bookIdToModal(<%= book.id %>)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </button>
                    <button type="submit" class="btn btn-danger">DELETE</button>
                </form>
              </div>
            </div>
          </div>
    <% }) %>
</div>

<!-- Spellbooks link to spells owned by user -->



<!-- addBookModal -->
<div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addBookModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBookModalLabel">Create New Spellbook</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="/user/addBook" method="POST">
                <div class="modal-body">
                    <!-- Hidden User Value -->
                    <input hidden type="text" name="userId" value="<%= userId %>" required />

                    <div class="form-group">
                        <label for="bookName">Spellbook Name</label>
                        <input type="text" class="form-control" name="bookName" id="bookName" required />
                    </div>

                    <div class="form-group">
                        <label for="bookDesc">Add description</label>
                        <textarea type="text" class="form-control" name="bookDesc" id="bookDesc" rows="3" required ></textarea>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Spellbook</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- editBookModal -->
<div class="modal fade" id="editBookModal" tabindex="-1" role="dialog" aria-labelledby="editBookModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editBookModalLabel">Edit Spellbook</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- TODO: update action to allow form to PUT new name/description for spellbook -->
            <form action="/user/editBook" method="POST">
                <div class="modal-body">
                    <!-- Hidden User Value -->
                    <input hidden type="text" name="userId" value="<%= userId %>" required />
                    <!-- Hidden Book Value -->
                    <input hidden type="text" name="bookId" value="" id="bookId" required />

                    <div class="form-group">
                        <label for="bookName">Spellbook Name</label>
                        <input type="text" class="form-control" name="bookName" id="bookName" required />
                    </div>

                    <div class="form-group">
                        <label for="bookDesc">Add description</label>
                        <textarea type="text" class="form-control" name="bookDesc" id="bookDesc" rows="3" required ></textarea>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Spellbook</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Scripts -->

<!-- Edit Book Modal -->
<script>
    function bookIdToModal(id) {
        let bookIdModal = document.getElementById("bookId")
        bookIdModal.value = `${id}`
    }
</script>

<!-- Track User -->
<script>
    // this is used to alter the navbar link after user logs in
    let spellbookLink = document.getElementById('spellbooksLink')
    let spellListLink = document.getElementById('spellListLink')
    let logOutButton = document.getElementById('logout')

    // store userId in localStorage
    if(!localStorage.getItem('userId')) {
        console.log("new userId created")
        let userId = document.getElementsByName('userId')[0].value
        if(userId !== 0){
            localStorage.setItem('userId', userId)
        }
    }
    
    // change spellbook link if userId exists in localstorage
    if(localStorage.getItem('userId')) {
        spellbookLink.href = "/user/" + localStorage.getItem('userId')
        spellListLink.href = "/spells/" + localStorage.getItem('userId')

        logOutButton.removeAttribute("hidden")
        logOutButton.addEventListener('click', () => {
            localStorage.clear()
            window.location.href = "/"
        })
    }
</script>